body{

    margin: 0%;
    background-color: snow;
    display: block;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
    margin-bottom:2%;
}

.dream-area{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 5;
    border-left: 8px solid;
}

.half-width{
    width: 50%;
    padding: 10%;
}

.half-width img{
    width: 80%;
    
}

.orrange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 181, 15), tomato);
    padding: 10px;
    border-radius: 20px;
}

.text-align{
    text-align: center;
}

.mission-color{
    background-color: pink;
    width: 50%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
}

.vission-color{
    background-color: slategrey;
    width: 50%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
}

.goods-color{
    background-color: rgb(104, 158, 158);
    width: 50%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
}
.img-control{
    width: 120px;
    height: 100px;
    
}

#picture{
    width: 80%;
    height: 60%;
    background-image: url(/images/download\ \(4\).jpg);
    background-repeat: no-repeat;
    background-position: left;

}

#dream-picute{
    width: 80%;
    height: 60%;
    background-image: url(/images/download\ \(5\).jpg);
   background-repeat: no-repeat;
    background-position: right;

}

#last-dream{
    width: 80%;
    height: 60%;
    background-image: url(/images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position:left, top;
}

.background-color-change{
    background-color: rgb(9, 4, 43);
    color: white;

}
.center-align{
    text-align: center;
}




    